
.header {
	display: flex;
    height: 50px;
	justify-content: space-between;
	align-items: center;
	background-color: #f2f2f2;
	padding: 10px;
	box-shadow: 0px 0px 10px #ccc;
  }

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
    
}

html, body  {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:rgb(207, 203, 185);

    font-family:'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 12pt;

    padding-top: 30px;
    

}





  